@import url(/common/stylesheets/lib/fonts.css);

.container {
    position: relative;
    width: 945px;
    margin: auto;
}

.friends {
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background-color: whitesmoke;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    margin-bottom: 25px;
}

.friends .header {
    position: relative;
    padding: 9px 5px 10px 55px;
    background: url("../images/icon.png") no-repeat 10px 10px;
    border-bottom: 1px solid #e1e1e1;
}

.friends .header .count {
    display: inline-block;
    font-size: 14px;
    color: #0066cc;
    vertical-align: middle;
    margin-top: 6px;
}

.friends .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friends .header .count {
    width: 465px;
}
.friends .header .count em {
    color: #525557;
    font-style: normal;
    padding-left: 18px;
}

.friends .header .role, .friends .header .search {
    display: inline-block;
    vertical-align: top;
    background: white;
    border: none;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    font-family: Arial;
    font-size: 12px;
    -webkit-box-shadow: 1px 1px 0px 0px #e8e8e8 inset;
    -moz-box-shadow: 1px 1px 0px 0px #e8e8e8 inset;
    box-shadow: 1px 1px 0px 0px #e8e8e8 inset;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0 5px;
    color: #0066cc;
    height: 20px;
    margin-left: 10px;
    width: 190px;
}

.friends .header .role {

}

.friends .header .search {
}

.friends .header .submit {
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    right: 18px;
    top: 11px;
    outline: none;
}

.friends .list .friend {
    position: relative;
    display: inline-block;
    margin: 0px 18px 0px 20px;
    padding: 17px 0px 13px 0px;
    width: 430px;
    border-top: 1px solid #e1e1e1;
}

.friends .list .friend:nth-child(1), .friends .list .friend:nth-child(2) {
    margin-top: 15px;
    border: none;
}

.friends .list .friend:nth-child(even):before {
    position: absolute;
    content: "";
    border-left: 1px solid #e1e1e1;
    left: -20px;
    top: 0px;
    height: 101%;
}

.friends .list .friend .link {
    text-decoration: none;
}

.friends .list .friend .link .name {
    position: absolute;
    top: 33px;
    left: 120px;
    color: #0066cc;
    font-weight: bold;
    font-size: 15px;
}

.friends .list .friend .link .avatar {
    width: 108px;
    height: 108px;
}

.friends .list .friend .role {
    position: absolute;
    top: 58px;
    left: 120px;
    font-size: 15px;
    color: #666666;
}

.friends .list .friend .city {
    position: absolute;
    top: 78px;
    left: 120px;
    color: #999999;
    font-size: 13px;
}

.friends .list .friend .actions {
    position: absolute;
    top: 40px;
    right: 20px;
}

.friends .list .friend .actions .btn-friend-unfriend {
position: absolute;
float: none;
right: -10px;
margin-right: 0;
top: -12px;
    white-space: nowrap;
}
.friends .list .friend .actions .poss-t.btn-add-friend {
    white-space: nowrap;
    right: 0;
    margin-top: 0;
}
.friends .list .friend .actions button {
    display: block;
    padding: 0;
    width: 100px;
    height: 28px;
    cursor: pointer;
    outline: none;
}

.friends .list .friend .actions .action-wrapper {
    position: relative;
    margin: 0;
    padding-left: 10px;
    background: #458ed9;
    border: 1px solid #bcbcbc;
    color: white;
    border-radius: 5px;
    font-family: "PT Sans";
    font-size: 14px;
    -webkit-box-shadow: 1px 1px 1px 0px #7a7a7a;
    -moz-box-shadow: 1px 1px 1px 0px #7a7a7a;
    box-shadow: 1px 1px 1px 0px #7a7a7a;
}

.friends .list .friend .actions .action-wrapper:before {
    position: absolute;
    content: url(../images/checkmark.png);
    top: 4px;
    left: 14px;
}

.friends .list .friend .actions .action-unfriend {
    margin: 0;
    background: #d7d8dc;
    border: 1px solid #abadb6;
    margin-top: -3px;
    padding-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-color: #717274;
    color: #0066cc;
    font-family: Arial;
    font-size: 12px;
}

.friends .list .friend .actions .action-unfriend:hover {
    text-decoration: underline;
}

.friends .list .friend .actions .action-add {
    padding-left: 5px;
    padding-right: 5px;
    background: #F5F5F5;
    color: #3581CE;
}

.friends .list .friend .actions .action-add:before {
    content: "";
}
