<link rel="stylesheet" href="/static/version2/css/styles_2col_left.css"/>
    
<h1 class="page-title">[[ 'Messages' | translate ]]</h1>

<div class="mess-wrap block">

        <div class="mess-header" >
           
            <div class="row" ng-controller="FriendsAdded" ng-include="'/app/modules/friends/views/friends-added.html'">
  
            </div>

            <div class="empty-line" ng-show="messageDir == 2">
                <a href=""  ng-click="removeAll()" class="empty-btn"><i class="fa fa-times"></i>&nbsp;&nbsp;[[ 'Empty Now' | translate ]]</a>
                <div class="empty-mess">[[ 'Messages that have been in Bin more then 30 days will be automaticaly deleted.' | translate ]]</div>
            </div>

        </div>
        
    <ul class="mess-list">
        <li class="block-clickcable" style=""  ng-class="(dialog.last_message.status.isReaded)?'':'mess-new'" ng-repeat="dialog in list"   >
        
            <a href="" ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})" class="block-clickcable-background">
                &nbsp;
            </a>
              
                <a ng-show="messageDir == 1" ye-show-on-touch ye-toggle-active   href="" class="block-with-backroung-content-invisible message-edit mess-edit-mess-page">
                    <i class="fa fa-trash-o"></i>
                    <span ng-click="delete(dialog.id)"   class="message-del"  >
                        [[ 'Delete Dialog' | translate ]]
                    </span>
                </a>


               
                    <a ng-show="messageDir == 2" href="" ye-show-on-touch ye-toggle-active  class="block-with-backroung-content-invisible message-edit mess-edit-mess-page">
                        <i class="fa fa-reply"></i>
                        <span class="message-del" ng-click="restoreDialog(dialog.id)">
                            [[ 'Restore Dialog' | translate ]]
                        </span>
                    </a>
                


                <div class="block-with-backroung-content message-info mess-info-mess-list pull-left" ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})">
                    <div>
                        <a href="/user/news/myLife/[[ dialog.talk_with_user.id ]]" class="message-ava pull-left">
                            <img src="[[ dialog.talk_with_user.ava ]]" alt="">
                        </a>

                        <div class="message-info-txt" >
                            <div class="message-author"><a href="/user/news/myLife/[[ dialog.talk_with_user.id ]]">[[ dialog.talk_with_user.displayName ]]</a></div>
                            <div class="message-data">[[ dialog.talk_with_user.country ]], [[ dialog.talk_with_user.city ]]<br/>[[ dialog.last_message.created_dt ]]</div>
                        </div>
                    </div>     
                </div>
                <div class="block-with-backroung-content mess-cont"  ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})">
                    [[ dialog.last_message.message ]]
                    <span class='empty-message' ng-show="!dialog.last_message.message">[[ 'New message'|translate ]]</span>
                </div>
      
        </li>
       
    </ul>


</div>
