<link rel="stylesheet" href="/static/version2/css/styles_2col_left.css"/>
<h1 class="page-title">[[ 'Messages' | translate ]]</h1>

        <div class="mess-wrap block">

            <div class="mess-header"  ng-controller="FriendsAdded" ng-include="'/app/modules/friends/views/friends-added.html'">
               
            </div>


            <ul class="chat-contacts" ng-controller='DialogsListCtrl'>
                <li ng-class="(currentReceiverId==dialog.talk_with_id)?'active':''" ng-class="(dialog.last_message.status.isReaded)?'':'active2'" class="new-mess block-clickcable" ng-repeat="dialog in list"  >
                   
                    <a href="" class="block-clickcable-background" ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})">
                        &nbsp;
                    </a>
                    
                    <div class="message-info mess-info-mess-list block-with-backroung-content">
                        <a href="/user/news/myLife/[[ dialog.talk_with_user.id ]]" class="message-ava pull-left">
                            <img src="[[ dialog.talk_with_user.ava ]]" alt="">
                        </a>
                        
                        <div class="message-info-txt">
                            <div class="message-author"><a href="/user/news/myLife/[[ dialog.talk_with_user.id ]]">[[ dialog.talk_with_user.displayName ]]</a></div>
                            <div class="message-data"><a class="message-data" ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})" >[[ dialog.talk_with_user.country ]], [[ dialog.talk_with_user.city ]]<br/>[[ dialog.last_message.created_dt ]]</a></div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="chat-mess" >    
                <ul class="chat-mess-list">
                        <li ng-repeat="message in list" ng-hide="message.status.removeMessageItSelf">
                            
                            <a href="" ye-show-on-touch ye-toggle-active  class="message-edit mess-edit-mess-page">
                                    <i class="fa fa-trash-o"></i>
                                    <span ng-click="deleteMessage(message.id)" class="message-del">[[ 'Delete Message' | translate ]]</span>
                                </a>
                            
                                <a href="/user/news/myLife/[[ message.user.id ]]" class="message-ava pull-left">
                                    <img src="[[ message.user.ava ]]" alt="">
                                </a>
                                <div class="mess-cont mess-cont-chat">
                                    <div class="message-author message-author-chat">
                                        <div class="message-data pull-right">[[ message.created_dt ]]</div>
                                        <a href="/user/news/myLife/[[ message.user.id ]]">[[ message.user.displayName ]]</a>
                                    </div>
                                    <p>[[ message.message ]]</p>

                                        <div class="message-info" ng-show="message.feed_repost_of" ng-init='(message.feed_repost_of)?(feed = message.feed_repost_of):(feed = false)'>
                                            <a href="/user/news/myLife/[[ feed.user.id ]]" class="message-ava pull-left">
                                                <img src="[[ feed.user.ava ]]" alt="">
                                            </a>

                                            <div class="message-info-txt">
                                                <div class="message-author"><a href="/user/news/myLife/[[ feed.user.id ]]" class="ng-binding">[[ feed.user.displayName ]]</a></div>
                                                <div style="width:90px;" class="message-data ng-binding">[[ feed.user.country ]], [[ feed.user.city ]] &nbsp;&nbsp;|&nbsp;&nbsp; [[ feed.formedDate ]]</div>
                                            </div>

                                            <div class="message-content">
                                                <p class="message-txt ng-binding" ng-bind-html="feed.content"></p>
                                                <p class="message-img" ng-show="feed.image.img_mid">
                                                    <a ui-sref="imageModal({'id': feed.id })" href="#/feed-image/[[feed.id ]]">
                                                    <img ng-src="[[ feed.image.img_mid ]]" alt="" ></a>
                                                </p>
                                                
                                                <div class="post-images" ng-show="feed.linkShare.domain">
                                                    <ul>
                                                        <li>
                                                            <a href="[[ feed.linkShare.url ]]">
                                                                <img style="width: 100px;" src="[[ feed.linkShare.imageURL ]]" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div     class="post-image-txt">
                                                        <h3 class="post-image-txt-h3">[[ feed.linkShare.title ]]</h3>

                                                        <p>[[ feed.linkShare.summary ]]</p>
                                                        <br>

                                                        <p><a href="[[ feed.linkShare.url ]]">[[ feed.linkShare.domain ]]</a></p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                          
                                            <div class="message-action message-action-mess-page" style="margin-top: -10px;">
                                                <div ye-toggle-active class="share-btn-wrap pull-right">
                                                    <div>
                                                        <a href="" class="share-btn">[[ 'Share' | translate ]]&nbsp;&nbsp;<i class="fa fa-share"></i></a>
                                                        <ul ng-controller="ShareWithFriends">
                                                            <li><a href="" ng-click="shareMyLife(feed.id)">[[ 'My Life' | translate ]]</a></li>
                                                            <li><a href="" ng-click="share(feed.id)">[[ 'Friends' | translate ]]</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            
                                            
                                        </div>
                                </div>
                        </li>
                        
                </ul>
                <div class="chat-textarea-wrap">
                    <div class="block">
                        <div class="post-text">
                            <textarea class="textarea-post" ng-model="message.message" placeholder="[[ 'Write a message' | translate ]]"></textarea>
                        </div>
                        <div class="post-action">
                            <a href="" ng-click="send()" class="post-btn pull-right">[[ 'Send' | translate ]]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>