<div class="title title-friends">Сообщения</div>

<div class="mess-menu-wrap">
<div class="mess-menu">
    <ul class="mess-links" ng-include="'/app/modules/messages/views/messages-links.html'">
       
    </ul>
        <div ng-controller="FriendsAdded" ng-include="'/app/modules/friends/views/friends-added.html'"></div>
    </ul>
</div>
</div>

<div class="friends-list messages-list">
    <a href="" ng-click="removeAll()">Empty now</a>
    <ul>
        
        
        <li ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})" class="mess" ng-repeat="dialog in list" ng-class="(dialog.last_message.status.isReaded)?'':'mess-new'">
            <div class="ava">
                <a href="/user/news/myLife/[[ dialog.last_message.user.id ]]">
                    <img class="/user/news/myLife/[[ dialog.talk_with_user.id ]]" src="[[ dialog.talk_with_user.ava ]]" alt=""/>
                </a>
            </div>
            <div class="info texts">
                <a class="nm-av" href="/user/news/myLife/[[ dialog.talk_with_user.id ]]">[[ dialog.talk_with_user.displayName ]]</a><br><span>[[ dialog.talk_with_user.country ]], [[ dialog.talk_with_user.city ]]<br>[[ dialog.last_message.created_dt ]]</span>
            </div>
            <div class="mess-wrap">
                <a ui-sref="messages_dialog({receiverId: [[ dialog.talk_with_id ]], messageDir: [[messageDir]]})" class="txt">
                    [[ dialog.last_message.message ]]
                    <span class='empty-message' ng-show="!dialog.last_message.message">[[ 'новое сообщение'|translate ]]</span>
                </a>
            </div>
            <div class="btns-set">
                <a class="poss-t f-left">Ответить</a>
                <a class="poss-t f-right">Поделиться</a>
            </div>
            <div  ng-show="deleteIsWork" ng-class="currentUser.isCurrentUser((feed.repostData)?feed.repostData.user:feed.user)?'setting':'' "
                 class="setting">
                <span></span>
                <a ng-click="delete(dialog.id)" class="hid-s" href="">[[ 'Удалить' | translate ]]</a>
            </div>
        </li>

    </ul>
    
</div>