<div class="bg-modal" ng-click="hide()"></div>
<div class="modal-con-load modal-share" >
	<div class="close" ng-click="hide()"></div>
    <div class="title-md ng-binding">[[ 'Поделиться' | translate ]]</div>
    <div class="pst-load">
    <label class="input-label">[[ 'Название' | translate ]]</label>
        <div class="wrap-autocomplete" style=" background-color: white;">
			<div ng-click="showList()" class="autocomplete-dropdown_arrow"></div>
            <input style="width: 100%; height: 26px;    " ng-model="friendsSearchText" ng-click="showList()"    ng-keyup="searchFriend(friendsSearchText)">
            <div class="autocomplete-dropdown" ng-show="expand">
				
                <div class="autocomplete-item"  ng-click="selectFriend(element);" ng-repeat="element in peoples">
                    [[ element.displayName ]]
                </div> 
            </div>
        </div>
    </div>

    
    <div class="modal-share_inside">
       
        <div class="comm [[ 'lang_css_ru' | translate ]]" id="feeds-[[ feed.id ]]">
            <a href="/user/news/myLife/[[ feed.user.id ]]">
                <img class="avtr" src="[[ feed.user.ava ]]" alt=""/>
            </a>
            <div class="texts">
                <a class="nm-av" href="/user/news/myLife/[[ feed.user.id ]]">[[ feed.user.displayName ]]</a><br><span>[[ feed.user.country ]], [[ feed.user.city ]]<br>[[ feed.formedDate ]]</span>
                <p ng-bind-html='feed.content'></p>
                <br/>

                <form ng-hide="!feed.image" method="post" action="{{ url('images', {'action':'getImage'}) }}">
                    <input type="hidden" name="imageId" ng-value="[[feed.image.id ]]" />
                    <a ng-href="#/feed-image/[[feed.id ]]">
                        <img ng-src="[[feed.image.img_mid ]]"  class="show-modal" width="414" alt="">
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-share_bottom-btn btns-ok">
    	<a href="#" ng-click='send()'>[[ 'Отправить' | translate ]]</a>
    </div>
</div>