<div ng-show="showSuccess" class="modal fade share-success in show" id="add-to-mylife" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <div class="modal-backdrop fade in" style="height: 600px;" ng-click="hide()" data-dismiss="modal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i ng-click="hide()" class="fa fa-times"></i></span><span  class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                
                <div class="success-icon"><i class="fa fa-check"></i></div>
                <p>[[ 'This work has been added to My Life successfully' | translate ]]</p>

                </div>
        </div>
    </div>
</div>