<ul ng-controller="FeedsCtrl">
    
    <li class="block add-news active"  ng-show='currentUser.isCurrentUserPage()' >
        <div class="post-text">
           
            <textarea ng-model="content" class="textarea-post" placeholder="[[ 'What news do you have?' | translate ]]"></textarea>
        </div>

  
        <!--загруженная картинка-->
        <div class="adding-img-wrap" style="position: relative;">
            <!--progress bar-->
            <div class="progress-img"  ng-show="percentOfLoad > 0 && percentOfLoad < 100">
                <span ng-style="{'width': percentOfLoad+'%'}"></span>
            </div>
            <!--/progress bar-->
            <div class="adding-img-inner" ng-show="imageSrc">
                <a href="" ng-click="removeImg()"  class="btn-remove"><i class="fa fa-times"></i></a>
                <img class="adding-img" ng-src="[[ imageSrc ]]" alt="">
            </div>
            
        </div>
        <!--/загруженная картинка-->

        <div class="post-images">
            <ul>  
                <li>
                    <!--
                    <img id="feed-prev-image" src="/users/images/mid_6568654c9f4ebfc8a848f02811f24b23171e8e68.jpg" alt="">
                    -->
                </li>
                <!--
                <li>
                    <img src="/static/version2/image/img1.jpg" alt="">
                </li>
                
                <li>
                    <a ng-click="attachImage()" href="" class="add-photo">
                        +
                    </a>
                </li>-->
            </ul>
        </div>
         
         <div class="post-images" ng-show="linkPreview.domain && !linkIsRemoved" > 
            
                <a href="" ng-click="removeLink()"  class="btn-remove btn-remove-url"><i class="fa fa-times"></i></a>
             <ul>
                <li>
                    <a href="[[ linkPreview.url ]]">
                        <img ng-show="linkPreview.lead_image_url" style="width: 100px;" ng-src="[[ linkPreview.lead_image_url ]]" alt="">
                    </a>
                </li>
            </ul>
            <div class="post-image-txt">
                <h3 class="post-image-txt-h3">[[ linkPreview.title ]]</h3>
                
                <p>[[ linkPreview.excerpt ]]</p>
                <br>

                <p><a href="[[ linkPreview.url ]]">[[ linkPreview.domain ]]</a></p>
            </div>
        </div>

        <div class="post-action">
            <a href="" class="add-pic" ng-click="attachImage()"><i class="fa fa-picture-o"></i></a>
            <a href="" ng-click="send()" class="post-btn pull-right">[[ 'Post' | translate ]]</a>
        </div>
    </li> 
    
 
    <li  class="block block-message" ng-repeat="feed in feeds | orderBy:'-id'" ye-toggle-active="">
        <a href="#" class="message-edit" ye-toggle-active ye-show-on-touch > 
            <i class="fa fa-cog"></i> 
            <span class="message-del" ng-click="deleteFeed((feed.repostData)?feed.repostData.id:feed.id)">[[ 'Delete' | translate ]]</span>
        </a>

        <div  class="message-info">
            <a href="/user/news/myLife/[[ feed.user.id ]]" class="message-ava pull-left">
                <img src="[[ feed.user.ava ]]" alt="">
            </a>

            <div class="message-info-txt">
                <div class="message-author"><a href="/user/news/myLife/[[ feed.user.id ]]">[[ feed.user.displayName ]]</a></div>
                <div class="message-data">[[ feed.user.country ]], [[ feed.user.city ]] &nbsp;&nbsp;|&nbsp;&nbsp; [[ feed.formedDate ]]</div>
            </div>
        </div>
        <div class="message-content">
            <p class="message-txt" ng-bind-html='feed.content'>
            </p>

            <p class="message-img" ng-show="feed.image.img_mid">
                <a ui-sref="imageModal({'id': feed.id })"><img ng-show="feed.image.img_mid"  ng-src="[[ feed.image.img_mid ]]" alt=""></a>
            </p>
        </div>
        <div class="post-images" ng-show="feed.linkShare.domain">
            <ul>
                <li>
                    <a href="[[ feed.linkShare.url ]]">
                        <img style="width: 100px;" src="[[ feed.linkShare.imageURL ]]" alt="">
                    </a>
                </li>
            </ul>
            <div     class="post-image-txt">
                <h3 class="post-image-txt-h3">[[ feed.linkShare.title ]]</h3>

                <p>[[ feed.linkShare.summary ]]</p>
                <br>

                <p><a href="[[ feed.linkShare.url ]]">[[ feed.linkShare.domain ]]</a></p>
            </div>
        </div>
        <div class="message-action">

            <div  class="message-comments-link pull-left">
                <a href="" ng-click="(commentsInputIsExpanded[feed.id])?collapseCommentsInput(feed.id):expandCommentsInput(feed.id)">Comment</a>&nbsp;
                <span ng-show="feed.comments.length > 2">
                    <a href="" ng-click="toggleComments(feed.id)">([[ feed.comments.length ]])
                        <i ng-class="commentsIsExpanded[feed.id]?'fa-angle-up':'fa-angle-down'" class="fa"></i>
                    </a>
                </span>
                <span ng-show="feed.comments.length < 3">  
                    <a href="" ng-click="toggleComments(feed.id)">([[ feed.comments.length ]])</a>
                </span>
                
                
            </div>

            <div ye-toggle-active class="share-btn-wrap pull-right">
                <a href=""  class="share-btn">[[ 'Share' | translate ]]&nbsp;&nbsp;<i class="fa fa-share"></i></a>
                <ul style="z-index: 999;">
                    <li><a href="#" style="cursor: pointer;" ng-click="shareFeed(feed.id)">[[ 'My Life' | translate ]]</a></li>
                    <li ng-controller="ShareWithFriends"><a href="" ng-click="share(feed.id)">[[ 'Friends' | translate ]]</a></li>
                </ul>
            </div>
        </div>
        
        <div class="message-comments">
            <a href="" class="more-comments" ng-click="toggleComments(feed.id)">...</a>
            <ul class="comments-list comments-all" ye-fade-display="commentsIsExpanded[feed.id]">
                <li ng-repeat="comment in feed.comments">
                    <a href="#"  class="comments-edit" ye-toggle-active ye-show-on-touch  ng-show="currentUser.isCurrentUser( comment.user)">
                        <i class="fa fa-cog"></i>
                        <span ng-click="deleteComment(feed.id, comment.id)" class="message-del">[[ 'Delete' | translate ]]</span>
                    </a>
                    <a href="#" class="message-ava pull-left">
                        <img ng-src="[[ comment.user.ava ]]" alt="">
                    </a>

                    <div class="message-info-txt">
                        <div class="message-author"><a href="/user/news/myLife/[[ comment.user.id ]]">[[ comment.user.displayName ]]</a>
                            <span class="comment-txt">[[ comment.content ]]</span></div>
                        <div class="message-data">[[ comment.formedDate ]]</div>
                    </div>
                </li>
            </ul>
            <ul class="comments-list comments-prev" ng-hide="commentsIsExpanded[feed.id]">
                <li ng-repeat="comment in feed.comments" ng-hide="$index<(feed.comments.length-2)">
                    <a href="#"  class="comments-edit" ye-add-active ye-show-on-touch  ng-show="currentUser.isCurrentUser( comment.user)">
                        <i class="fa fa-cog"></i>
                        <span ng-click="deleteComment(feed.id, comment.id)" class="message-del">[[ 'Delete' | translate ]]</span>
                    </a>
                    <a href="#" class="message-ava pull-left">
                        <img ng-src="[[ comment.user.ava ]]" alt="">
                    </a>

                    <div class="message-info-txt">
                        <div class="message-author"><a href="/user/news/myLife/[[ comment.user.id ]]">[[ comment.user.displayName ]]</a>
                            <span class="comment-txt">[[ comment.content ]]</span></div>
                        <div class="message-data">[[ comment.formedDate ]]</div>
                    </div>
                </li>
            </ul>
            
            <div class='comment-new' ye-fade-display="commentsInputIsExpanded[feed.id]">
                <a href="#" class="message-ava pull-left">
                    <img ng-src="[[ currentUser.getLogedInUserProfile().ava ]]"/>
                </a>
                <div class="message-info-txt">
                    <textarea ye-enter = "writeComment(feed.id)" ng-model="newCommentText[feed.id]" class="add-your-comment" placeholder="[[ 'Your comment' | translate ]]"></textarea>
                </div>
            </div>
        </div>
    </li>
    
</ul>

<div ui-view="feedsImageModalView">

</div>
