<div class="modal fade in show add-photo-modal" ng-show="!hiddenMode" id="add-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" ng-init="onOpen()" >
    <div class="modal-backdrop fade in" style="height: 100%;" ng-click="close()" data-dismiss="modal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"><span
                        aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">[[ 'Close' | translate ]]</span></button>
                      
                <h4 ng-show="mode == 'attach'" class="modal-title"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;[[ 'Adding Photo' | translate ]]</h4>
                <h4 ng-show="mode == 'feed'" class="modal-title"><i class="fa fa-pencil"></i>&nbsp;&nbsp;[[ 'Edit Photo' | translate ]]</h4>
                
            </div>
            <form  method="POST" id="edit-image-form" action="" >
                <div class="modal-body">
                    <div class="adding-photo pull-left">
                        <img ng-src="[[ data.img_mid ]]" alt=""/>
                        <div  class="progress-img"  ng-show="showLoader">
                            
                            <span id="img-upload-progress-bar-1"  ng-style="progressStyle"></span>
                        </div>
                    </div>
                    <div class="adding-photo-info">
                        <ul class="form-list">
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="photo-title">[[ 'Title' | translate ]]</label>[[ hiddenMode ]]!

                                        <div class="input-box">
                                            <input type="text" class="form-control" ng-model="data.title" placeholder="Write title" id="photo-title">
                                        </div>
                                    </div>
                                    <div ng-show="needAlbum" class="col-xs-6">
                                        <label for="select-album">[[ 'Album' | translate ]]</label>

                                        <div class="input-box">
                                            <input type="text" ng-model="data.albumName"  class="form-control create-alb" value="[[ 'Создать альбом' | translate ]]"/>

                                            <select ng-model="albumSelected"  ng-change="setAlbum(album)" class="form-control" id="select-album" >
                                                <option  ng-repeat="album in albumsList">[[ album.title ]]</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <label for="photo-descr">[[ 'Description' | translate ]]</label>

                                <div class="input-box">
                                    <textarea class="form-control" ng-model="data.description" placeholder="[[ 'Write something about this photo' | translate ]]" id="photo-descr"></textarea>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    
                    
                    
                    <a ng-show="mode == 'attach'"  ng-click="remove()" class="btn cancel-btn" data-dismiss="modal">[[ 'Cancel' | translate ]]</a>
                    
                    <a ng-show="mode == 'feed' || mode == 'album'" ng-click="remove()" class="btn cancel-btn" data-dismiss="modal"><i class="fa fa-trash-o"></i> [[ 'Delete' | translate ]]</a>
                   
                    
                    <a  ng-click="ok()" class="btn save-btn">[[ 'Ok' | translate ]]</a>
                </div>
            </form>
        </div>
    </div>
</div>
