<div class="bg-modal" ng-hide="!show" ng-click="close()"></div>
<div class="modal-con-load" ng-init="onOpen()" ng-hide="!show">
    <div class="close" ng-click="close()"></div>
    <div class="section-mdl">
        <div class="title-md">[[ 'Добавление фотографий' | translate ]]</div>
        <div class="pst-load">
            <form method="POST" id="edit-image-form" action="{{ url('images', {'action':'editImage'}) }}">
                <input type="hidden" name="id" id="new-image-id"/>

                <div class="left-img" ng-class="{load: showLoader}">
                    <img src="/img/foto-modl.png" ng-src="[[ data.img_mid ]]" width="186" alt=""/>
                    <!--span id="new-image-date">12/03/2013</span-->
                    <div id="img-upload-progress-1"><i id="img-upload-progress-bar-1" ng-style="progressStyle"></i>
                    </div>
                </div>
                <div class="ov-ld">
                    <div class="size-1">
                        <div class="ll-ld">
                            <label>[[ 'Название' | translate ]]</label>
                            <input name="title" id="edit-image-title" ng-model="data.title" type="text"/>
                        </div>

                        <div class="ll-ld" ng-show="needAlbum">
                            <label>[[ 'Альбом ' | translate ]] </label>

                            <div class="create-alb">
                                <div class="create-alb-title">
                                    <input type="text" ng-model="data.albumName"  class="create-alb" value="[[ 'Создать альбом' | translate ]]"/>

                                    <div class="arr"></div>
                                </div>
                                <ul class="create-alb-select">
                                    <li  class="title">[[ 'Мои альбомы' | translate ]]</li>
                                    <li class="name" ng-repeat="album in albumsList" ng-click="setAlbum(album)">
                                        [[ album.title ]]
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <label>[[ 'Описание' | translate ]]</label>
                    <textarea name="description" ng-model="data.description" id="edit-image-description"></textarea>

                    <div class="btns-ok">
                        <a id="" ng-click="ok()" href="">Ок<span></span></a>
                        <a id="" ng-click="remove()" href="">[[ 'Удалить' | translate ]] </a></div>
                </div>
                <div class="clear"></div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">


</script>