<div class="modal fade in show open-photo-modal" id="open-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-init="onOpen()" ng-hide="!isDisplay"
     aria-hidden="true">
<div class="modal-backdrop fade in" style="height: 100%;" ng-click="close()" data-dismiss="modal"></div>
    <div class="modal-dialog">
        
        <div class="modal-image-wrap pull-left">
            
            <div class="loading"><img src="/static/version2/image/img-preloader.gif"/></div>

            <img class="spinner modal-image-img" src="[[ image.img_mid ]]" imageonload alt=""/>
            <a  ng-show="nextState" href="" ng-click="nextImage(image.id)" ye-show-on-touch  class="modal-img-btn modal-img-btn-left"><i class="fa fa-angle-left"></i></a>
            <a ng-show="prevState" href="" ng-click="prevImage(image.id)" ye-show-on-touch class="modal-img-btn modal-img-btn-right"><i class="fa fa-angle-right"></i></a>

            <a ye-show-on-touch ui-sref="imageModalFullScreen({id:feed.id})" ng-style="{'background-image': image.img_mid }"  class="full-size-img-btn"><i class="fa fa-expand"></i></a>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="close()" type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">[[ 'Close' | translate ]]</span></button>
            </div>

            <div class="modal-body">
                <div class="open-photo-info">
                    <div class="message-info">
                        <a href="#" class="message-ava pull-left">
                            <img src="[[ image.user.ava ]]" alt="">
                        </a>

                        <div class="message-info-txt">
                            <div class="message-author"><a href="#">[[ image.user.displayName ]]</a></div>
                            <div class="message-data">[[ image.user.country ]], [[ image.user.city ]] &nbsp;&nbsp;|&nbsp;&nbsp; [[ image.formedDate ]]</div>
                        </div>
                        
                        <a href="" ng-show='isEditable' ng-click="edit()"  class="edit-profile edit-profile-ava"><i class="fa fa-pencil"></i><span>[[ 'Edit' | translate ]]</span></a>
                        
                    </div>
                    <div class="photo-name-descr-wrap">
                        <div class="photo-name">[[ image.title ]]</div>
                        <div class="photo-descr">
                            [[image.description ]]
                        </div>
                    </div>
                    <div class="message-action">
                        <span class="viewed-info pull-left"><i class="fa fa-eye"></i>&nbsp;([[ views ]])</span>
                        <a href="" ng-click="like(feed.id)" class="pull-left like-btn"><span>[[ 'Like' | translate ]]</span> ([[ likes ]])</a>
                        <a href="#" class="message-comments-link pull-left">
                            <span>Comment</span>&nbsp;&nbsp;<span>([[ image.comments.length ]])&nbsp;</span>
                        </a>

                        <div class="share-btn-wrap pull-right" ye-toggle-active > 
                            <a href="#" class="share-btn">[[ 'Share' | translate ]]&nbsp;&nbsp;<i class="fa fa-share"></i></a>
                            <ul>
                                <li><a href="" ng-click="share(feed.id)">[[ 'My Life' | translate ]]</a></li>
                                <li href="" ng-controller="ShareWithFriends"><a href="" ng-click="share(feed.id)">[[ 'Friends' | translate ]]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="message-comments">
                        <ul class="comments-list">
                            <li  ng-repeat="comment in image.comments">
                                <a href="#" class="comments-edit">
                                    <i class="fa fa-cog"></i>
                                    <span class="message-del">[[ 'Delete' | translate ]]</span>
                                </a>
                                <a href="/user/news/myLife/[[ comment.user.id ]]" class="message-ava pull-left">
                                    <img ng-src="[[ comment.user.ava ]]" alt="">
                                </a>

                                <div class="message-info-txt">
                                    <div class="message-author"><a href="/user/news/myLife/[[ comment.user.id ]]">[[comment.user.displayName ]]</a>
                                        <span class="comment-txt">[[ comment.content ]]</span></div>
                                    <div class="message-data">[[ comment.formedDate ]]</div>
                                </div>
                            </li>
                        </ul>
                        <div class="add-img-comment">
                            <a href="#" class="message-ava pull-left">
                                <img src="[[ image.user.ava ]]" alt="">
                            </a>

                            <div class="message-info-txt">
                                <textarea class="add-your-comment" ye-enter = "writeComment(feed.id)" ng-model="newCommentText[feed.id]"  placeholder="[[ 'Your comment' | translate ]]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

