<!--modal popup -->
<div ng-show="showRemoveDialog">
    <div class="overlay"></div>
 <div class="modal-popup">
    <p>[[ 'Удалить этот альбом?' | translate ]]</p>
    <a href=""  ng-click="removeAlbum(album.id)" class="btn ok-btn">[[ 'OK' | translate ]]</a>
    <a href="" ng-click="showRemoveDialog = false" class="btn cancel-btn">[[ 'Отмена' | translate ]]</a>
</div>
</div>
<!--/modal popup-->
<div class="container">
    <div class="albums photos-list">
        <div class="albums-header">
            <span  ui-sref="albums()" style="cursor: pointer;" class="ico"></span>
            <span  ui-sref="albums()" style="cursor: pointer;" class="count">[[ 'Альбомы' | translate ]] ([[ albumService.list.length || 0]])</span>
        </div>
        <div class="albums-list-title">
            <span class="count">[[ album.title ]]</span>
            <span class="descr">[[ 'Фотографии' | translate ]] ([[list.length || 0]])</span>
            <span class="engine">
                           <em></em>
                            <a ng-click="attachImage()">[[ 'Добавить фото' | translate ]]</a>
                           <a   ng-click="showRemoveDialog = true">[[ 'Удалить альбом' | translate ]]</a>
                       </span>
        </div>
        <ul class="list">
            <li class="photo" ng-repeat="feed in list | orderBy : 'id' : 'true'">
                <a ui-sref="albumPhotoModal({albumId:album.id ,id: feed.id})">
                    <img ng-src="[[ feed.image.img_ava ]]" alt=""/>
                </a>
            </li>
        </ul>
    </div>

    <div class="albums albums-another">
        <div class="albums-list-title">
            <a  ui-sref="albums"><span class="count">[[ 'Другие альбомы' | translate ]]</span></a>
        </div>
        <span class="engine">
                                   <em></em>
                                    <a ng-click="attachImage()">[[ 'Добавить фото' | translate ]]</a>
                                    <a ng-click="attachImage()" >[[ 'Добавить альбом' | translate ]]</a>
                               </span>
    
        <ul class="list" ng-controller="AlbumsCtrl">
                <li class="album" ng-hide="album.id == currentAlbumId"  ng-repeat="album in list">
                 <a href="" ui-sref="photoInAlbum({albumId: album.id})">
                    <img ng-src="[[ album.cover.image.img_ava ]]" alt=""/>
                    <span class="role">[[ album.numOfPhotos ]] [[ 'фотографий' | translate ]]</span>
                </a>
                <span class="name">
                   <input type="text" ye-enter="edit(album.id, album.title)" ng-model="album.title"  />
                </span>
            </li>
        </ul>
    </div>
</div>