<div class="title-side o2" ng-class="(friendsService.shortList.length == 0)?'my-life-mini-block':''">
    <a ng-href="#/friends/[[ currentUser.id ]]" class="ico"></a>
    <a ng-href="#/friends/[[ currentUser.id ]]">[[ 'Друзья' | translate ]] ([[ friendsService.shortList.length  ]]) </a>
    <a href="#/friends/[[ currentUser.id ]]" class="mut-friends" ng-hide=" currentUser.isCurrentUserPage()">[[ 'Общие друзья' | translate ]] ([[friendsService.info.matual]])</a>
</div>
<div class="ov-side-img">
    <a ng-href="/user/news/myLife/[[ friend.id ]]" ng-repeat="friend in friendsService.shortList  | limitTo: 6">
            <img style="width: 108px;" ng-src="[[ friend.ava ]]" alt="[[ friend.displayName ]]"/>
    </a>
</div>  