<div class="title title-friends">[[ 'Запросы' | translate ]]</div>

<div class="mess-menu-wrap">
    <div class="mess-menu">
        <ul class="mess-links">

        </ul>

            <div ng-controller="FriendsAdded" ng-include="'/app/modules/friends/views/friends-added.html'"></div>

    </div>
</div>

<div class="friends-list">
    <ul>
        <li ng-repeat="application in list" >
            <div class="ava"><img class="" ng-src="[[ application.sender_user.ava ]]" alt=""/></div>
            <div class="info texts">
                <a class="nm-av" href="">[[  application.sender_user.displayName ]]</a><br>
                <span>[[  application.sender_user.displayName ]], [[  application.sender_user.displayName ]]<br>12 feb 2013</span>
            </div>
            <div class="buttons-wrap">
                <a href="#" ng-click="accept([[ application.id ]])" class="poss-t">[[ 'Добавить в друзья' | translate ]]</a>

                <a href="#" ng-click="delay([[ application.id ]])" class="poss-t [[ (application.is_delayed)?'active':'inactive' ]]" >[[ 'Отложено' | translate ]]</a>
            </div>
            <div
                 class="setting">
                <span></span>
                <a ng-click="remove([[ application.id ]])" class="hid-s" href="">[[ 'Удалить' | translate ]]</a>
            </div>
        </li>
    </ul>
</div>