    <link rel="stylesheet" href="/static/version2/css/styles_2col_left.css"/>
    
    <h1 class="page-title">[[ 'Messages' | translate ]]</h1>

        <div class="mess-wrap block">

            <div class="mess-header"  ng-controller="FriendsAdded" ng-include="'/app/modules/friends/views/friends-added.html'">
                
            </div>

            <ul class="mess-list-friends">
                <li class="online" ng-repeat="application in list">
                    <a href="#" class="message-edit mess-edit-mess-page">
                        <i ng-click="remove([[ application.id ]])" class="fa fa-times"></i>
                        <span  class="message-del">[[ 'Delete' | translate ]]</span>
                    </a>
                    <div class="message-info-friends pull-left">
                        <a href="#" class="message-ava-friends pull-left online">
                            <img ng-src="[[ application.sender_user.ava ]]" alt="">
                        </a>

                        <div class="message-info-txt">
                            <div class="message-author"><a href="#">[[  application.sender_user.displayName ]]</a></div>
                            <div class="message-role">Composer</div>
                            <div class="message-data"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;[[  application.sender_user.city ]], [[  application.sender_user.country ]]</div>
                        </div>
                    </div>
                    <div class="mess-friends-btns">
                        <ul class="friends-container-btns">

                            <li>
                                <a href="" ng-click="accept([[ application.id ]])" class="top-cont-btn add-friend"><i class="fa fa-plus"></i>&nbsp;&nbsp;[[ 'Add
                                    Friend' | translate ]]</a>
                                <!--<a href="#" class="top-cont-btn add-friend-ok">-->
                                    <!--<span class="ok-friend"><i class="fa fa-check"></i>&nbsp;&nbsp;Friend</span>-->
                                    <!--<span class="un-friend"><i class="fa fa-times"></i>&nbsp;&nbsp;Unfriend</span>-->
                                <!--</a>-->
                            </li>
                            <li><a href="" ng-click="delay([[ application.id ]])" class="top-cont-btn send-mess-btn">[[ (application.is_delayed)?'Not Now':'Delay' | translate ]]</a></li>
                        </ul>
                    </div>
                </li>

            </ul>


        </div>